[submodule "docs/nips"]
	path = docs/nips
	url = https://github.com/nostr-protocol/nips.git
	branch = master
	shallow = true
	ignore = dirty
[submodule "third_party/libwally-core"]
	path = third_party/libwally-core
	url = https://github.com/ElementsProject/libwally-core
