[submodule "docs/nips"]
	path = docs/nips
	url = https://github.com/nostr-protocol/nips.git
	branch = master
	shallow = true
	ignore = dirty

[submodule "third_party/nostrdb"]
	path = third_party/nostrdb
	url = https://github.com/damus-io/nostrdb.git
	branch = master
	shallow = true
[submodule "gnome/nostr-goa-overlay/vendor/gnome-online-accounts"]
	path = gnome/nostr-goa-overlay/vendor/gnome-online-accounts
	url = https://github.com/chebizarro/gnome-online-accounts.git
